<template>
  <div class="users-table">
    <img
      class="users-table__preloader"
      :src="require('@/assets/img/loader.svg')"
      alt="Loading"
      v-if="$fetchState.pending"
    />
    <div v-else class="users-table__body">
      <TableWrapper
        :filters="filters"
        :modalFields="modalFields"
        :items="users"
        :useModal="true"
      >
      </TableWrapper>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";

import { userStore } from "@/store";
import { User as UserSchema } from "@/types/user";
import { Filter } from "@/types/filter";

import TableWrapper from "@/components/table/TableWrapper.vue";

@Component({
  components: {
    TableWrapper,
  },
})
export default class UsersTable extends Vue {
  @Prop({ default: 10 }) usersPerPage!: number;

  currentPage: number = 1;

  get users(): Array<UserSchema> {
    return userStore.USERS;
  }

  get filters(): Array<Filter> {
    return userStore.FILTERS;
  }

  get modalFields(): Array<Filter> {
    return userStore.MODAL_FIELDS;
  }

  async fetch(): Promise<void> {
    await userStore.GET_USERS();
  }
}
</script>

<style lang="scss">
.users-table {
  &__preloader {
    display: block;
    margin: 0 auto 0 auto;
    margin-top: calc((100vh - 20px) / 2);
  }

  &__body {
    margin-top: 100px;
  }
}
</style>
