<template>
  <div class="item-info-modal" @click="close()">
    <div class="item-info-modal__holder" @click.stop>
      <div class="item-info-modal__close-button">
        <img
          class="item-info-modal__close-button-img"
          :src="require('@/assets/img/close.svg')"
          alt=""
          @click="close()"
        />
      </div>
      <div class="item-info-modal__body">
        <div
          class="item-info-modal__field"
          v-for="(item, i) of getModalFields"
          :key="`modal_field_${i}`"
        >
          {{ `${item.title}: ${item.value}` }}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";
import { Filter as FilterSchema } from "@/types/filter";
import { propParser } from "@/helpers/propParser";

@Component({})
export default class ItemInfoModal extends Vue {
  @Prop({ default: () => {} }) showingItem!: any;
  @Prop({ default: () => [] }) modalFields!: Array<FilterSchema>;

  keyEvent: any = null;

  get getModalFields(): Array<FilterSchema> {
    return this.modalFields.map((field) => {
      return {
        title: field.title,
        value: propParser(this.showingItem, field.value),
      };
    });
  }

  close(): void {
    this.$emit("close");
  }

  listenEsc(e: KeyboardEvent): void {
    if (e.code === "Escape") {
      this.close();
    }
  }

  mounted() {
    if (process.client) {
      window.addEventListener("keyup", this.listenEsc);
    }
  }

  beforeDestroy() {
    if (process.client) {
      window.removeEventListener("keyup", this.listenEsc);
    }
  }
}
</script>

<style lang="scss">
.item-info-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.5);
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;

  &__holder {
    max-width: 400px;
    width: 100%;
    min-width: 320px;
    background-color: #fff;
    padding: 30px;
  }

  &__close-button {
    margin-bottom: 30px;
  }

  &__close-button-img {
    display: block;
    height: 30px;
    width: 30px;
    margin: 0 0 0 auto;
    cursor: pointer;
  }

  &__body{
    line-height: 1.5;
  }
}
</style>
