<template>
  <div class="table-pagination" v-show="this.itemsQuantity!==0">
    <div
      class="table-pagination__item"
      v-show="currentPage !== 1"
      @click="setPage(1)"
    >
      <span>1</span>
    </div>
    <div
      class="table-pagination__item"
      v-show="currentPage !== 1"
      @click="setPage(currentPage - 1)"
    >
      <img
        class="table-pagination__arrow"
        :src="require('@/assets/img/pg-arrow.svg')"
        alt=""
      />
    </div>
    <div class="table-pagination__item table-pagination__item--active">
      <span>{{ currentPage }}</span>
    </div>
    <div
      class="table-pagination__item"
      v-show="currentPage !== lastPageNumber"
      @click="setPage(currentPage + 1)"
    >
      <img
        class="table-pagination__arrow table-pagination__arrow--right"
        :src="require('@/assets/img/pg-arrow.svg')"
        alt=""
      />
    </div>
    <div
      class="table-pagination__item"
      v-show="currentPage !== lastPageNumber"
      @click="setPage(lastPageNumber)"
    >
      <span>{{ lastPageNumber }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";

@Component({})
export default class TablePagination extends Vue {
  @Prop({ default: 0 }) itemsQuantity!: number;
  @Prop({ default: 20 }) resultsPerList!: number;

  currentPage: number = 1;

  get lastPageNumber(): number {
    return Math.ceil(this.itemsQuantity / this.resultsPerList);
  }

  setPage(page: number): void {
    this.currentPage = page;
    this.$emit("set-page", this.currentPage);
  }
}
</script>

<style lang="scss">
.table-pagination {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50px);
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
  grid-gap: 10px;
  padding: 10px;

  &__item {
    text-align: center;
    color: #fff;
    background-color: $buttonBg;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    line-height: 1;
    cursor: pointer;
    transition: all 0.3s;
    border: solid 1px $buttonBg;
    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__item--active {
    background-color: rgba($color: #000000, $alpha: 0);
    border-color: $buttonBg;
    color: $buttonBg;
  }

  &__arrow {
    height: 50%;
    display: block;
    margin: 0 auto;
  }

  &__arrow--right {
    transform: scale(-1, 1);
  }
}
</style>
