<template>
  <div class="table-filter-item">
    <span>{{ filter.title }}</span
    ><img
      class="table-filter-item__img"
      :src="require('@/assets/img/arrow-up.svg')"
      alt=""
      @click="sortItems(filter.value, false)"
    />
    <img
      class="table-filter-item__img table-filter-item__img--bottom"
      :src="require('@/assets/img/arrow-up.svg')"
      alt=""
      @click="sortItems(filter.value, true)"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";
import { Filter } from "@/types/filter";

@Component({})
export default class TableFilters extends Vue {
  @Prop() filter!: Filter;

  sortItems(param: string, reverse: boolean): void {
    this.$emit("sort", {
      param: param,
      reverse: reverse,
    });
  }
}
</script>

<style lang="scss">
.table-filter-item {
  box-sizing: border-box;
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 15px;
  border-right: $tableBorder;
  font-size: 1.2rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 20px 20px;
  align-items: center;
  height: 100%;

  &__img {
    display: block;
    height: 1.2rem;
    margin: 0 auto;
    visibility: hidden;
    cursor: pointer;

    &--bottom {
      transform: scale(1, -1);
    }
  }

  &:hover {
    .table-filter-item__img {
      visibility: visible;
    }
  }
}
</style>

