<template>
  <div class="table-wrapper">
    <TableSearchForm @set-search-text="setSearchText" />
    <TableFilters @sort="changeSortParams" :filters="filters" />
    <div class="table-wrapper__body" v-if="outputItemsList.length">
      <TableItem
        :filters="filters"
        v-for="(item, i) of outputItemsListForPage"
        :key="`user_item${i}`"
        :item="item"
        @show-in-modal="showInModal"
      />
      <TablePagination
        :itemsQuantity="outputItemsList.length"
        :resultsPerList="resultsPerList"
        @set-page="setPage"
      />
    </div>
    <div class="table-wrapper__body--empty" v-else>пусто</div>
    <ItemInfoModal
      v-if="showModal && useModal"
      :showingItem="showingItem"
      :modalFields="modalFields"
      @close="showModal = false"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";

import { Filter as FilterSchema } from "@/types/filter";
import { propParser } from "@/helpers/propParser";
import { sortByParams } from "@/helpers/sortByParams";
import { pageItems } from "@/helpers/pageItems";
import { multiMatch } from "@/helpers/multiMatch";

import TableSearchForm from "@/components/table/TableSearchForm.vue";
import TableFilters from "@/components/table/TableFilters.vue";
import TableItem from "@/components/table/TableItem.vue";
import TablePagination from "@/components/table/tablePagination.vue";
import ItemInfoModal from "@/components/table/ItemInfoModal.vue";

@Component({
  components: {
    TableSearchForm,
    TableFilters,
    TableItem,
    TablePagination,
    ItemInfoModal,
  },
})
export default class TableWrapper extends Vue {
  @Prop({ default: () => [] }) filters!: Array<FilterSchema>;
  @Prop({ default: () => [] }) items!: Array<any>;
  @Prop({ default: 20 }) resultsPerList!: number;
  @Prop({ default: false }) useModal!: boolean;
  @Prop({ default: () => [] }) modalFields!: Array<FilterSchema>;

  //параметры для пагинации и сортировки
  currentPage: number = 1;
  param = "";
  reverse = false;
  //параметры для поиска
  searchText: string = "";
  //Параметры для модального окна
  showingItem: any = {};
  showModal: boolean = false;

  get outputItemsList(): Array<any> {
    let result: Array<any> = this.items;
    if (this.searchText !== "") {
      result = result.filter((item) => {
        console.log(multiMatch(item, this.filters, this.searchText));
        return multiMatch(item, this.filters, this.searchText);
      });
    }
    result = sortByParams(result, this.param, this.reverse);

    return result;
  }

  get outputItemsListForPage(): Array<any> {
    return pageItems(
      this.outputItemsList,
      this.resultsPerList,
      this.currentPage
    );
  }

  //задаем параметры сортировки
  changeSortParams(data: { param: string; reverse: boolean }): void {
    this.param = data.param;
    this.reverse = data.reverse;
  }
  //меняем страницу
  setPage(page: number): void {
    this.currentPage = page;
  }
  //Показываем данные в модале
  showInModal(item: any): void {
    this.showingItem = item;
    this.showModal = true;
  }
  //задаем текст поиска
  setSearchText(searchText: string): void {
    this.searchText = searchText;
  }
}
</script>

<style lang="scss">
</style>
