<template>
  <div
    class="table-filters"
    :style="{ gridTemplateColumns: `repeat(${filters.length}, 1fr)` }"
  >
    <TableFilterItem
      @sort="sort"
      v-for="(filter, i) of filters"
      :key="`filter${i}`"
      :filter="filter"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";
import { Filter as FilterSchema } from "@/types/filter";

import TableFilterItem from "@/components/table/TableFilterItem.vue";

@Component({
  components: {
    TableFilterItem,
  },
})
export default class TableFilters extends Vue {
  @Prop() filters!: Array<FilterSchema>;

  sort(data: any) {
    this.$emit("sort", data);
  }
}
</script>

<style lang="scss">
.table-filters {
  display: grid;
  border: $tableBorder;
  border-right: none;
}
</style>

