<template>
  <div
    class="table-item"
    :style="{ gridTemplateColumns: `repeat(${filters.length}, 1fr)` }"
    @click="$emit('show-in-modal', item)"
  >
    <div
      class="table-item__cell"
      v-for="(data, i) of outputData"
      :key="`item_${i}`"
    >
      {{ data }}
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";
import { Filter as FilterSchema } from "@/types/filter";

import { propParser } from "@/helpers/propParser";

@Component({})
export default class TableItem extends Vue {
  @Prop({ default: () => {} }) item!: any;
  @Prop({ default: () => [] }) filters!: Array<FilterSchema>;

  get outputData(): any[] {
    let result: any[] = [];
    this.filters.forEach((filter) => {
      result.push(propParser(this.item, filter.value));
    });
    return result;
  }
}
</script>

<style lang="scss">
.table-item {
  box-sizing: border-box;
  display: grid;
  border-bottom: $tableBorder;
  border-left: $tableBorder;

  &__cell {
    padding: 3px;
    padding-bottom: 0;
    margin-bottom: 3px;
    border-right: $tableBorder;
    height: 100%;
  }
}
</style>
