<template>
  <div class="table-search-form">
    <input
      placeholder="Search"
      v-model="searchText"
      type="text"
      class="table-search-form__input"
    />
    <button
      class="table-search-form__button"
      @click.prevent="$emit('set-search-text', searchText)"
    >
      Search
    </button>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";

@Component({})
export default class TableSearchForm extends Vue {
  searchText: string = "";
}
</script>

<style lang="scss">
.table-search-form {
  display: grid;
  grid-template-columns: 1fr 120px;
  width: 100%;
  padding: 10px 0;

  &__input {
    @include input;
    display: block;
    border: $tableBorder;
    margin: 0 0 0 auto;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  &__button {
    @include button;
    margin: 0 0 0 auto;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
</style>
