$buttonBg:#60A7A5;
$mainBg:#fafafa;
$tableBorder:solid 1px $buttonBg;

* {
  font-family: sans-serif;
  outline: none;
}

html {
  background-color: $mainBg;
}

@mixin page-width {
  max-width: 92%;
  margin: 0 auto;
}

@mixin button {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 15px 25px 15px 25px;
  color: #fff;
  background-color: $buttonBg;
  border-radius: 15px;
  line-height: 1;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

@mixin input {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 15px 25px 15px 25px;
  color: #fff;
  background-color: $buttonBg;
  border-radius: 15px;
  line-height: 1;
  outline: none;
}
