<template>
  <div class="default">
      <Nuxt />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";

@Component({})
export default class Default extends Vue {}
</script>

<style lang="scss">
.default{
  @include page-width;
}
</style>
