<template>
  <div class="index">
    <button
      class="index__button"
      @click.prevent="showUsersTable = true"
      v-if="!showUsersTable"
    >
      Показать пользователей
    </button>
    <div v-else class="index__table-container">
      <UsersTable  />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import UsersTable from "@/components/user/UsersTable.vue";

@Component({
  components: {
    UsersTable,
  },
})
export default class Index extends Vue {
  showUsersTable: boolean = false;
}
</script>

<style lang="scss">
.index {
  &__button {
    @include button;
    margin-top: calc((100vh - 46px) / 2);
  }
}
</style>
